@page
@model M223_Multi_User_Projekt.ViewModels.DefaultViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="de-CH">
<head>
    <title>Default</title>
</head>
<body>
<div>
    
</div>
</body>
</html>